@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth !important;
}
body {
  background: #131212;
  scroll-behavior: smooth !important;
}
